{{ 'section-products-slider-with-text.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-slideshow.css' | asset_url | stylesheet_tag }}

<div class="products-slider-with-text color-{{ section.settings.section_color_scheme }}{% if section.settings.show_top_border %} main-top__border{% endif %}{% if section.settings.show_bottom_border %} main-bottom__border{% endif %}{% if section.settings.products_slider_with_text_product_list.count == 1 %} products-slider-with-text__one--product{% endif %}">
  {% comment %} <div class="page-width"> {% endcomment %}
  <div class="products-slider-with-text__box">
    {%- if section.settings.products_slider_with_text_title != blank or section.settings.products_slider_with_text_link_title != blank -%}
      <div class="products-slider-with-text__left">
        {%- if section.settings.products_slider_with_text_title != blank -%}
          <h4 class="products-slider-with-text__left--title">
            {{ section.settings.products_slider_with_text_title }}
          </h4>
        {%- endif -%}
        {%- if section.settings.products_slider_with_text_link_title != blank -%}
          <a class="products-slider-with-text__left--link link-arrow" href="{{ section.settings.products_slider_with_text_link_url }}">
            <span class="products-slider-with-text__left--link-text">
              {{ section.settings.products_slider_with_text_link_title }}
            </span>
            {% render 'icon-link-arrow' %}
          </a>
        {%- endif -%}
      </div>
    {%- endif -%}
    <div class="products-slider-with-text__right">

      <slideshow-component
        class="slider-mobile-gutter"
        role="region"
        aria-roledescription="{{ 'sections.slideshow.carousel' | t }}"
        aria-label="{{ section.settings.accessibility_info | escape }}">

        <div
          class="slideshow banner grid grid--1-col slider slider--everywhere"
          id="Slider-{{ section.id }}"
          style="{% if section.settings.products_slider_with_text_product_list.count == 1 %}justify-content: center;{% endif %}"
          aria-live="polite"
          aria-atomic="true">
          {%- for product in section.settings.products_slider_with_text_product_list -%}
            
            <div
              class="slideshow__slide grid__item grid--1-col slider__slide{% for tag in product.tags %}{% if tag == 'new' %} slider__slide-new{% endif %}{% endfor %}"
              id="Slide-{{ section.id }}-{{ forloop.index }}"
              role="group"
              {% if section.settings.products_slider_with_text_product_list.count == 1 %}
              style="margin-right: 0;"
              {% endif %}
              aria-roledescription="{{ 'sections.slideshow.slide' | t }}"
              aria-label="{{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
              tabindex="-1">
              
              {% render 'card-product'
                ,
 card_product: product
                ,
 media_aspect_ratio: 'adapt'
                ,
 extend_height: true
                ,
 placeholder_image: placeholder_image
              %}
            </div>
          {%- endfor -%}
        </div>

        {% if section.settings.products_slider_with_text_product_list != blank and section.settings.products_slider_with_text_product_list.count != 1 %}
          <div class="slider-button__box">
            <button
              type="button"
              class="slider-button slider-button--prev products-slider-with-text__slider--prev"
              name="previous"
              aria-label="{{ 'sections.slideshow.previous_slideshow' | t }}"
              aria-controls="Slider-{{ section.id }}">
              {% comment %} {% render 'icon-newsletter-arrov' %} {% endcomment %}
              {% render 'icon-slider-arrow' %}
            </button>

            <button
              type="button"
              class="slider-button slider-button--next products-slider-with-text__slider--next"
              name="next"
              aria-label="{{ 'sections.slideshow.next_slideshow' | t }}"
              aria-controls="Slider-{{ section.id }}">
              {% comment %} {% render 'icon-newsletter-arrov' %} {% endcomment %}
              {% render 'icon-slider-arrow' %}
            </button>
          </div>
        {% endif %}
        <noscript>
          <div class="slider-buttons">
            <div class="slider-counter">

              <a
                href="#Slide-{{ section.id }}-{{ forloop.index }}"
                class="slider-counter__link link"
                aria-label="{{ 'sections.slideshow.load_slide' | t }} {{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}">
                {{ forloop.index }}
              </a>

            </div>
          </div>
        </noscript>

      </slideshow-component>

      {%- if request.design_mode -%}
        <script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>
      {%- endif -%}

    </div>
  </div>
{% comment %} </div> {% endcomment %}
</div>

{% schema %}
  {
    "name": "Products slider with text",
    "class": "products-slider-with-text-section",
    "settings": [
      {
        "type": "color_scheme",
        "id": "section_color_scheme",
        "label": "Color scheme",
        "default": "background-1"
      },
      {
        "type": "text",
        "id": "products_slider_with_text_title",
        "label": "Heading",
        "default": "Title"
      },
      {
        "type": "text",
        "id": "products_slider_with_text_link_title",
        "label": "Link title",
        "default": "Link title"
      },
      {
        "type": "url",
        "id": "products_slider_with_text_link_url",
        "label": "Link url"
      }, {
        "type": "product_list",
        "id": "products_slider_with_text_product_list",
        "label": "Products",
        "limit": 12
      }, {
        "type": "checkbox",
        "id": "show_top_border",
        "label": "Show top border",
        "default": false
      }, {
        "type": "checkbox",
        "id": "show_bottom_border",
        "label": "Show bottom border",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "Products slider with text"
      }
    ]
  }
{% endschema %}