{{ 'section-two-images-with-text.css' | asset_url | stylesheet_tag }}

{% style %}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
  }

  .section-{{ section.id }} .two-image-with-text__first--small-img {
    width: {{ section.settings.second_image_width }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  @media screen and (min-width: 1050px) {
    .section-{{ section.id }} .two-image-with-text__second--title {
      max-width: {{ section.settings.title_width }}px;
      width: 100%;
    }

    .section-{{ section.id }} .two-image-with-text__second--text {
      max-width: {{ section.settings.text_width }}px;
      width: 100%;
    }
  }
{% endstyle %}

<div class="two-image-with-text section-{{ section.id }} section-{{ section.id }}-padding color-{{ section.settings.section_color_scheme }}{% if section.settings.show_top_border %} main-top__border{% endif %}{% if section.settings.show_bottom_border %} main-bottom__border{% endif %}">
  <div class="page-width">
    <div class="two-image-with-text__items two-image-with-text__items--{{ section.settings.image_position }}">
      <div class="two-image-with-text__first{% if section.settings.image_position_absolute %} two-image-with-text__first--absolute{% endif %}">
        {%- if section.settings.first_image != blank -%}
          <img
            class="two-image-with-text__first--img"
            src="{{ section.settings.first_image | image_url: width: 1440 }}"
            alt="{{ section.settings.first_image.alt | escape }}"
            width="720"
            height="820"
            loading="lazy">
        {%- endif -%}
        {%- if section.settings.second_image != blank and section.settings.first_image != blank -%}
          <img
            class="two-image-with-text__first--small-img"
            src="{{ section.settings.second_image | image_url: width: 610 }}"
            alt="{{ section.settings.second_image.alt | escape }}"
            width="305"
            height="355"
            loading="lazy">
        {%- endif -%}
      </div>
      <div class="two-image-with-text__second two-image-with-text__second--{{ section.settings.text_position }}">
        <div class="two-image-with-text__second--box">
        {%- if section.settings.title != blank -%}
          <h4 class="two-image-with-text__second--title">
            {{ section.settings.title }}
          </h4>
        {%- endif -%}
        {%- if section.settings.text != blank -%}
          <p class="two-image-with-text__second--text">
            {{ section.settings.text }}
          </p>
        </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Two images with text",
    "class": "two-images-with-text-section",
    "settings": [
      {
        "type": "color_scheme",
        "id": "section_color_scheme",
        "label": "Color scheme",
        "default": "background-1"
      },
      {
        "type": "header",
        "content": "Block with photos"
      },
      {
        "type": "image_picker",
        "id": "first_image",
        "label": "First image"
      },
      {
        "type": "image_picker",
        "id": "second_image",
        "label": "Small image",
        "info": "Doesn't work without the first photo"
      },
      {
        "type": "range",
        "id": "second_image_width",
        "min": 300,
        "max": 330,
        "step": 5,
        "unit": "px",
        "label": "Max width small image",
        "default": 305
      },
      {
        "type": "radio",
        "id": "image_position",
        "label": "Images desktop position",
        "options": [
          {
            "value": "left",
            "label": "Left"
          }, {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left"
      },
      {
        "type": "checkbox",
        "id": "image_position_absolute",
        "label": "Images move to the bottom section",
        "default": false
      },
      {
        "type": "header",
        "content": "Block with text"
      }, {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Heading"
      }, {
        "type": "range",
        "id": "title_width",
        "min": 450,
        "max": 570,
        "step": 5,
        "unit": "px",
        "label": "Heading width",
        "default": 450
      }, {
        "type": "textarea",
        "id": "text",
        "label": "Text",
        "default": "Text"
      }, {
        "type": "range",
        "id": "text_width",
        "min": 450,
        "max": 570,
        "step": 5,
        "unit": "px",
        "label": "Text width",
        "default": 450
      }, {
        "type": "radio",
        "id": "text_position",
        "label": "Heading desktop position",
        "info": "Use without a second photo",
        "options": [
          {
            "value": "unset",
            "label": "Unset"
          }, {
            "value": "left",
            "label": "Left"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "unset"
      }, {
        "type": "header",
        "content": "Main settings"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 50,
        "max": 130,
        "step": 1,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 50
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 50,
        "max": 130,
        "step": 1,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 50
      }, {
        "type": "checkbox",
        "id": "show_top_border",
        "label": "Show top border",
        "default": false
      }, {
        "type": "checkbox",
        "id": "show_bottom_border",
        "label": "Show bottom border",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "Two images with text"
      }
    ]
  }
{% endschema %}